.createButton {
    width: 100%;
}

.createButtonGrid {
    padding-top: 10px;
}

.root {
    padding: 8px;
    width: auto;
}

.eventCard {
    padding: 8px;
    width: auto;
    margin-top: 10px;
}

.fab {
    padding-left: 8px;
}

.gameComponent {
    padding-bottom: 20px;
}

.divider {
    margin-bottom: 10px !important;
}
