.root {
    padding: 8px;
    width: auto;
}

.textField {
    margin: 10px;
    width: 300px;
}

.card {
    width: 100%;
    margin-bottom: 16px;
}

.buttonProgressAttending {
    margin-left: -65px;
}

.withMargin {
    margin: 8px !important;
}

.title {
    flex-grow: 1;
}

.divider {
    margin-bottom: 10px !important;
}
