.createButton {
    width: 100%;
}

.createButtonGrid {
    padding-top: 10px;
}

.root {
    padding: 8px;
    width: auto;
}

.nightCard {
    padding: 8px;
    width: auto;
    margin-top: 10px;
}

.fab {
    padding-left: 8px;
}
